{% extends 'base_foot.html' %}

{% block base_foot %}
<body>
{% include 'base.html' %}

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for v in t1_click %}
				<a href="#">{{ v.gtitle|truncatechars:15 }}</a>
                {% endfor %}
			</div>
			<a href="/list1-1-1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
				{% for v in t1_new %}
				    <li>
					<h4><a href="#">{{ v.gtitle }}</a></h4>
					<a href="#"><img src="/static/{{ v.gpic }}"></a>
					<div class="prize">¥ {{ v.gprice }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
<script type="text/javascript">
$(function () {
    $.get('/index_ajax2/',function (data) {
        $.each(data.click_list,function(i,n){
            $('.subtitle').eq(1).append('<a href="#">'+n.title.substring(0,10)+'</a>');
        });
         $.each(data.new_list,function(i,n){
            $('.goods_list').eq(1).append('<li>'+
					'<h4><a href="#">'+n.title+'</a></h4>'+
					'<a href="#"><img src="/static/'+ n.pic +'"></a>' +
					'<div class="prize">¥ '+ n.price +'</div></li>');

        });
    });
})
</script>



	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
			</div>
			<a href="/list2-1-1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				 {% for v in t3_click %}
				<a href="#">{{ v.gtitle|truncatechars:15 }}</a>
                {% endfor %}
			</div>
			<a href="/list3-1-1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{% for v in t3_new %}
				    <li>
					<h4><a href="#">{{ v.gtitle }}</a></h4>
					<a href="#"><img src="/static/{{ v.gpic }}"></a>
					<div class="prize">¥ {{ v.gprice }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				  {% for v in t4_click %}
				<a href="#">{{ v.gtitle|truncatechars:15 }}</a>
                {% endfor %}
			</div>
			<a href="/list4-1-1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{% for v in t4_new %}
				    <li>
					<h4><a href="#">{{ v.gtitle }}</a></h4>
					<a href="#"><img src="/static/{{ v.gpic }}"></a>
					<div class="prize">¥ {{ v.gprice }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				  {% for v in t5_click %}
				<a href="#">{{ v.gtitle|truncatechars:15 }}</a>
                {% endfor %}
			</div>
			<a href="/list5-1-1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				{% for v in t5_new %}
				    <li>
					<h4><a href="#">{{ v.gtitle }}</a></h4>
					<a href="#"><img src="/static/{{ v.gpic }}"></a>
					<div class="prize">¥ {{ v.gprice }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				  {% for v in t6_click %}
				<a href="#">{{ v.gtitle|truncatechars:15 }}</a>
                {% endfor %}
			</div>
			<a href="/list6-1-1/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.jpg"></div>
			<ul class="goods_list fl">
			    {% for v in t6_new %}
				    <li>
					<h4><a href="#">{{ v.gtitle }}</a></h4>
					<a href="#"><img src="/static/{{ v.gpic }}"></a>
					<div class="prize">¥ {{ v.gprice }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock base_foot %}
{#	<script type="text/javascript" src="/static/jsslideshow.js"></script>#}
{#	<script type="text/javascript">#}
{#		//BCSlideshow('focuspic');#}
{#		var oFruit = document.getElementById('fruit_more');#}
{#		var oShownum = document.getElementById('show_count');#}
{##}
{#		var hasorder = localStorage.getItem('order_finish');#}
{##}
{#		if(hasorder)#}
{#		{#}
{#			oShownum.innerHTML = '2';#}
{#		}#}
{##}
{#		oFruit.onclick = function(){#}
{#			window.location.href = 'list.html';#}
{#		}#}
{#	</script>#}
